footer.footer
    .footer__panel
        .container
            .footer__nav
                ul
                    li
                        a(href="about-us.html") О нас

                    li
                        a(href="courses.html") Курсы
                    
                    li
                        a(href="contacts.html") Контакты

    .footer__panel
        .container
            .footer__row
                a.footer__logo(href="main.html")
                    img(src="img/icons/logo.svg" width="183" height="34" alt="English School")

                .social.footer__social
                    a.social__link.social__link--fb(href="https://facebook.com" target="_blank" title="Go to Facebook")
                    a.social__link.social__link--inst(href="https://instagram.com" target="_blank" title="Go to Instagram")
                    a.social__link.social__link--vk(href="https://vk.com" target="_blank" title="Go to VK")

                .footer__copy
                    a(href="#") Политика конфиденциальности

                

    
            
