header.header
    .container.header__container
        .header__row
            a.header__logo(href="main.html")
                img.header__logo-img(src="img/icons/header-logo.webp" width="324" height="53" alt="English School")

            nav.header__nav
                ul.header__nav-list
                    li.header__nav-item
                        a.header__nav-link(href="about-us.html") О нас

                    li.header__nav-item
                        a.header__nav-link(href="courses.html") Курсы

                    li.header__nav-item
                        a.header__nav-link(href="contacts.html") Контакты

            .header__panel
                button.btn.btn--reset.btn--notice.btn--notice-active(aria-label="Button notice")

                .header__user
                    .header__user-account
                        .header__user-avatar--wrap
                            img.header__user-avatar(src="img/content/avatars/header-user.webp" width="40" height="40" alt="Александр Сенцов")

                        .header__user-name Александр Сенцов

                    .header__user-dropdown
                        ul.header__user-dropdown-list
                            li.header__user-dropdown-item
                                i.icon.icon--user
                                a.header__user-dropdown-link(href="#") Мой профиль

                            li.header__user-dropdown-item
                                i.icon.icon--chart
                                a.header__user-dropdown-link(href="#") Статистика

                            li.header__user-dropdown-item
                                i.icon.icon--shopping
                                a.header__user-dropdown-link(href="#") Мои курсы

                            li.header__user-dropdown-item
                                i.icon.icon--wallet
                                a.header__user-dropdown-link(href="#") Мои платежи

                            li.header__user-dropdown-item
                                i.icon.icon--messege
                                a.header__user-dropdown-link(href="#") Рандомный текст

                            li.header__user-dropdown-item
                                i.icon.icon--doc
                                a.header__user-dropdown-link(href="#") Словарь

                button.btn.btn--reset.btn--burger.header__burger(aria-label="Toggle menu")

.menu-cover

