header.header
    .container.header__container
        .header__row
            a.header__logo.visibility-hidden(href="main.html")
                img.header__logo-img(src="img/icons/header-logo.webp" width="324" height="53" alt="English School")

            nav.header__nav
                ul.header__nav-list
                    li.header__nav-item
                        a.header__nav-link(href="about-us.html") О нас

                    li.header__nav-item.header__nav-item--current
                        a.header__nav-link(href="courses.html") Курсы

                    li.header__nav-item
                        a.header__nav-link(href="contacts.html") Контакты

            .header__panel
                a.btn.btn--wide.btn--medium.btn--accent(href="#") Онлайн кабинет
                button.btn.btn--reset.btn--burger.header__burger(aria-label="Toggle menu")

.menu-cover