.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a.breadcrumbs__item-link(href="main.html") Главная

        li.breadcrumbs__item.breadcrumbs__item--current
            a.breadcrumbs__item-link(href="course.html") Разговорный английский для взрослых

    