section.feedback.bg-gray
    .feedback__info
        h2.feedback__title Возникли вопросы?
        p.feedback__desc Оставьте свой номер телефона и наш специалист свяжется с Вами, чтобы дать подробную информацию о начале учебы на курсе.

    .btn--block
        a.btn.btn--wide.btn--accent(href="#") Получить консультацию