section.reviews
    h2 Что о нас говорят?

    .reviews__body
        .reviews__carousel.swiper-carousel
            .swiper-wrapper
                .reviews__col.swiper-slide
                    .reviews__col--body
                        .reviews__col-img--wrap
                            img.reviews__col-img(src="img/content/reviews/item_1.webp" width="300" height="400" alt="Название слайда")

                        .reviews__col-info
                            p.reviews__col-desc Доступно множество вариантов отрывков из Lorem Ipsum, но большинство из них претерпели изменения в той или иной форме, просто свободный текст с добавлением юмора.

                .reviews__col.swiper-slide
                    .reviews__col--body
                        .reviews__col-img--wrap
                            img.reviews__col-img(src="img/content/reviews/item_2.webp" width="300" height="400" alt="Название слайда")

                        .reviews__col-info
                            p.reviews__col-desc Доступно множество вариантов отрывков из Lorem Ipsum, но большинство из них претерпели изменения в той или иной форме, просто свободный текст с добавлением юмора.

                .reviews__col.swiper-slide
                    .reviews__col--body
                        .reviews__col-img--wrap
                            img.reviews__col-img(src="img/content/reviews/item_3.webp" width="300" height="400" alt="Название слайда")

                        .reviews__col-info
                            p.reviews__col-desc Доступно множество вариантов отрывков из Lorem Ipsum, но большинство из них претерпели изменения в той или иной форме, просто свободный текст с добавлением юмора.

                .reviews__col.swiper-slide
                    .reviews__col--body
                        .reviews__col-img--wrap
                            img.reviews__col-img(src="img/content/reviews/item_2.webp" width="300" height="400" alt="Название слайда")

                        .reviews__col-info
                            p.reviews__col-desc Доступно множество вариантов отрывков из Lorem Ipsum, но большинство из них претерпели изменения в той или иной форме, просто свободный текст с добавлением юмора.


                .reviews__col.swiper-slide
                    .reviews__col--body
                        .reviews__col-img--wrap
                            img.reviews__col-img(src="img/content/reviews/item_3.webp" width="300" height="400" alt="Название слайда")

                        .reviews__col-info
                            p.reviews__col-desc Доступно множество вариантов отрывков из Lorem Ipsum, но большинство из них претерпели изменения в той или иной форме, просто свободный текст с добавлением юмора.

            button.btn.btn--reset.carousel-nav-btn.carousel-nav-prev(aria-label="Carousel prev")
            button.btn.btn--reset.carousel-nav-btn.carousel-nav-next(aria-label="Carousel next")

        .swiper-pagination