.subscribe
    .subscribe__info
        h4.subscribe__title Новости!
        p.subscribe__desc Узнавайте первым о скидках, предложениях и мероприятиях!

    form.form.subscribe__form(action="/" method="/")
        input.input__elem(type="text" name="subscribe-email" placeholder="Почта")
        button.btn.btn--reset.btn--chevron-right.form__submit(type="submit" aria-label="Send form")


                

            